<!doctype html public "⚓ ⚓ ⚓">
<meta charset=utf8>
<title>☁</title>
<link rel=stylesheet href=css/style.css>

<div id=main role=main>
  <header>
    <form action=/upload method=post enctype="multipart/form-data" class="upload-form">
      <label for=photo>Upload:</label>
      <input name=photo type=file>
      <input type=submit value=Upload>
      <a href="#" id="filter-gifs">gifs</a>
    </form>
  </header>

  <ul id=images class=image-list></ul>
</div>

<div id=loader>
  <h1>Loading...</h1>
</div>

<script>window.s3_bucket_url = '//{{url}}';</script>

<script src=//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js></script>
<script>!window.jQuery && document.write('<script src="js/libs/jquery-1.7.1.min.js"><\/script>')</script>

<script src=js/src/libs.js></script>
<script src=js/src/templates.js></script>
<script src=js/src/app.js></script>

<script>
  jQuery(function($){
    require('index');
  });
</script>
